body {
	background-color: black;
}

.main {
    height:100vh;
    margin:20px;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: black;
	color: white;
}


.main img {
	width: 20vw;
}

.penis {
	width: 1px;
}